@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: outfit;
  scroll-behavior: smooth;
}

Form Button {
  width: 100%;
}

h2 {
  color: #313131;
}

h6 {
  color: greenyellow;
}

/* hr.line {
  border: 1px solid #313131;
  width: 175px;
} */

.app {
  margin: auto;
  padding-top: 40px;
  width: 950px;
  text-align: center;
}

.lobby_row {
  justify-content: center;
  max-height: 500px;
}

/* Message Container */
.message-container {
  border-radius: 4px;
  border: 1px solid #c9c9c9 !important;
  outline: none;
}

.message {
  color: #313131 !important;
}

/* Lobby */

.lobby {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.lobby input {
  gap: 20px;
  ;
}

.lobby button {
  background-color: tomato !important;
  border-radius: 4px;
  border: 1px solid #c9c9c9 !important;
  outline: none;
  padding: 10px;
  
}

.chat {
  display: grid;
}

.leave-room {
  text-align: right;
  margin-bottom: 4px;
}

.user-list {
  float: left;
  background-color: #313131;
  color: white;
  width: 200px;
  height: 440px;
  margin-right: 4px;
}

.message-container {
  height: 400px;
  background-color: white;
  overflow: auto;
  border-radius: 5px;
  margin-bottom: 2px;
}

.user-message {
  padding-right: 5px;
  font-size: 18px;
  display: flex;
  justify-content: end;
}

.message {
  font-size: 15px;
  color: white;
}

.sender {
  font-size: small;
}

.messageForm {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border-radius: 4px;
  border: 1px solid #c9c9c9 !important;
  outline: none;
}

.messageForm input {
  width: 100%;
  padding: 5px;
  border: none !important;
  border-radius: 5px;
}

.messageForm button {
  width: 20%;
  padding: 5px;
  border: none !important;
  border-radius: 5px;
  background-color: tomato;
  color: white;
}